/* All */
body {
	background: #FDFDFD;
	margin: 0px;
}

h1 {
	font-size: 2.5em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	color: #efb956;
	margin-bottom: 0%;
}

h2 {
	font-size: 1.5em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	color: #333333;
	margin-bottom: 0%;
	text-transform: uppercase;
}

h3 {
	clear: both;
	font-size: 1em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	color: #efb956;
	display: block;
	text-align: left;
}

label {
	font-size: 1em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: lighter;
	color: #333333;
	float: left;
	display: block;
	text-transform: uppercase;
}

p {
	margin-top: 0%;
	font-size: 0.75em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
	display: block;
	text-align: center;
}

.logo img {
	width: 160px;
	padding: 50px 0px;
}

header {
	 background: #12736d;
	 box-shadow: 3px 0px 5px 0px rgba(0,0,0,.2);
	 position: fixed;
	 width: 350px;
	 height: 100%;
	 overflow: auto;
	 left: 0;
	 top: 0;
}

header li {
	width: 100%;
}

header ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 overflow: hidden;
}

header li a {
	 display: block;
	 padding: 20px 20px 20px 40px;
	 text-decoration: none;
	 font-family: Arial, Helvetica, sans-serif;
	 color: #f4f4f4;
	 font-weight: bold;
	 font-size: 1.2em;
}

header li a:hover{
	background-color: #12615c;
}

header .menu {
	 transition: max-height .2s ease-out;
}
  
header .menu-icon {
	 cursor: pointer;
	 float: right;
	 padding: 28px 20px;
	 position: relative;
	 user-select: none;
	 color: #f4f4f4;
}

header .menu-icon .navicon {
	 background: #fff;
	 display: block;
	 height: 2px;
	 position: relative;
	 transition: background .2s ease-out;
	 width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
	 background: #fff;
	 content: '';
	 display: block;
	 height: 100%;
	 position: absolute;
	 transition: all .2s ease-out;
	 width: 100%;
}

header .menu-icon .navicon:before {
	top: 5px;
}

header .menu-icon .navicon:after {
	top: -5px;
}
  
header .menu-btn {
	display: none;
}

header .menu-btn:checked ~ .menu {
	max-height: 400px;;
}

header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

header .menu {
	clear: none;
	max-height: none;
}

header .menu-icon {
	display: none;
}

	
header li {
	float: left;  
}

header li a {
	padding: 20px 30px;
}

.active, .active:hover {
	 background-color: #efb956;
}

.welcomeBlock, .buttonBlock {
	float: left;
	position: relative;
	width: 50%;
}

.long{
	width: 100%;
}

.welcomeBlock h1 {
	padding: 2em 1em 1em 1em;
	position: relative;
}

.textBlock p{
	padding: 0.4em 3.7em;
	font-size: 0.9em;
}

#container {
    max-width: 1200px;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0px 25px 0px 375px;
}

.topButton {
	position: relative;
	margin: 65px 65px 30px 65px; 
	float: right;
}

.block, .textBlock, .blockHalf {
	position: relative;
	float: left;
	width: 100%;
}

.blockHalf {
	width: calc(50% - 100px);
	padding: 0px 50px 50px 50px;
}

.centerTable {
	text-align: -webkit-center;
	text-align: -moz-center;
}

.hide {
	display: none;
}
.mobile {
	display: none;
}

#notificationBlock {
	position: absolute;
    width: 500px;
    top: 20px;
    right: 25px;
}

.notification {
	min-width: 400px;
    position: relative;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,.2);
    float: right;
    padding: 25px;
    z-index: 10;
    margin: 5px 0px;
}

.notification p{
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 0px;
}

footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: calc(100% - 60px);
	padding: 5px 30px 50px 30px;
	color: white;
	font-weight: bold;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.container * {
	box-sizing: border-box;
}

.flex-outer,
.flex-inner {
	list-style-type: none;
	padding: 0;
}

.flex-outer {
	max-width: 800px;
	margin: 0 auto;
}

.flex-outer li,
.flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer > li:not(:last-child) {
	margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 8px;
	font-weight: 300;
	letter-spacing: .09em;
	text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
	flex: 1 0 220px;
}

.flex-outer li p {
	margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea,
.flex-outer li select {
	padding: 15px;
	border: 0px solid #333333;
	background: #33333328;
}

button {
	background-color: #0f4c48;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	min-width: 250px;
	text-decoration: none;
	font-weight: bold;
	display: block;
	font-size: 1em;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: .09em;
}

.small{
	min-width: 75px;
	padding: 15px 30px;;
}

button:hover {
	background-color: #efb956; 
	color: white; 
	display: block;
}

table {
	overflow: auto;
	width: 100%;
	margin: 25px;
}

table, th, td {
	border-collapse: collapse;
	text-align: left;
}

th, td {
	font-size: 1em;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

th {
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    padding: 25px 25px 25px 13px;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

td {
	color: #333333;
	min-width: 50px;
	padding: 5px 15px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

tr:hover {
	background-color: #f7f7f7;
}

.tdHide  {
	background-color: #fdfdfd;	
	padding: 5px 0px 5px 15px;
	border-bottom: none;
	text-align: center;
}

.contracts {
	position: absolute;
	clear: both;
	width: 75%;
}

.copyright {
	text-align: center;
	position: relative;
	margin-top: 50px;
	margin-bottom: 0;
}

.outer {
	display: table;
	position: absolute;
    height: calc(100% - 200px);
    width: calc(100% - 400px);
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin: 0 auto;
}

.login {
	max-width: 400px;
}

.login button {
	width: 100%;
}

.login .welcomeBlock {
	width: 100%;
	text-align: center;
}

/* Bigger than 1150 px tablet*/ 
@media (max-width: 1150px) {
	header {
		width: 250px;
	}
	
	#container {
		padding: 0px 25px 0px 300px;
	}
	
	.textBlock p {
	    padding: 0.4em 0em;
	    font-size: 0.9em;
	}
	
	table {
	  border: 0px;
	  border-collapse: collapse;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	  table-layout: fixed;
	  text-align: center;
	}

	table tr {
		background-color: #fffbfb;
		border: 0em;
		padding: 15px;
		display: block;
		margin: 0px 0px 25px 0px;
		border: 0.5px solid #e6e6e6;
	}

	table th,
	table td {
		padding: .625em;
		text-align: right;
		display: block;
		border: 0px;
	}

	table button {
		display: block;
		clear: left;
		width: 100%;
	}

	table td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	table th {
		display: none;
	}
	
	.tdHide  {
		background-color: #f8f8f8;	
	}
	
	.desktop {
		display: none;
	}
}

/* Smaller than 620 px (phone) */
@media (max-width: 620px){
	.logo {
		position: relative;
		float: left;
	}
	
	.logo img {
		width: 110px;
		padding: 25px 25px;
	}
	
	header {
		position: relative;
		width: 100%;
	}
	
	.welcomeBlock h1 {
		text-align: center;
		padding: 1em;
		margin: 10px 0px 0px 0px;
	}
	
	.textBlock p {
		padding: 10px 0px;
	}
	
	.welcomeBlock, .buttonBlock, .blockHalf {
		width: 100%;

	}
	
	.blockHalf {
	 padding: 0px 50px;;
	}
	
	.topButton {
		position: relative;
		margin: 15px 10px;
	}
	
	#container {
		padding: 15px;
	}
	
	footer {
		display: none;
	}
	
	.menu-icon{
		margin: 38px 25px;
	}
	
	button {
		display: block;
		width: 100%;
	}

	button:hover {
		background-color: #efb956; 
		color: white; 
		display: block;
	}
	
	header .menu {
		clear: both;
	    max-height: 0;
	}
	
	header .menu-icon {
		display: initial;
		cursor: pointer;
	    float: right;
	    padding: 28px 20px;
	    position: relative;
	    user-select: none;
	    color: #f4f4f4;
	}
	
	.mobile {
		display: initial;
	}
	
	footer {
		position: initial;
		color: black;
	}
	
	#notificationBlock {
	    width: 100%;
	    right: 15px;
	}
	
	.notification {
		width: calc(100% - 50px);
		min-width: 50px;
		padding: 15px 10px;
	}
	
	.outer {
		display: initial;
		position: relative;
	}
	
	.middle {
		display: initial;
		float: left;
		width: 100%;
	}
}

/* For landscape mode on phones */
@media (max-height: 620px){
	header footer {
		position: relative;
	}
}